@media screen and (max-width: 768px) {
    :root {
        --fontSize-heading-lg: 2.5rem;
        --fontSize-heading-base: 2rem;
    }

    header nav {
        display: flex;
    }

    .welcome h2 {
        font-size: 1.2rem;
        letter-spacing: 3px;
    }

    .welcome figure img {
        width: 10rem;
        height: 10rem;
    }

    .welcome-ornament, .welcome-leaf, .home-leaf {
        width: 120px;
        height: 120px;
    }

    .leaf-top-left { top: -25px; left: -25px; }
    .leaf-top-right { top: -25px; right: -25px; }
    .leaf-bottom-left { bottom: -25px; left: -25px; }
    .leaf-bottom-right { bottom: -25px; right: -25px; }

    .luxury-mandala-bg {
        width: 100%;
        height: 400px;
    }

    .home figure img {
        width: 12rem;
        height: 12rem;
    }

    .home .home-time {
        gap: 0.8rem;
    }

    .home .home-time div {
        width: 3.5rem;
        height: 3.5rem;
    }

    .home .home-time div p {
        font-size: 1.1rem;
    }

    .bride i, .hadist i {
        font-size: 1.8rem;
    }

    .bride .bride_couple li figure img {
        width: 12rem;
        height: 12rem;
    }

    .bride .bride_couple li figure figcaption {
        font-size: 2.2rem;
    }

    .hadist p {
        font-size: 1rem;
    }

    .time .time-card {
        width: 100%;
        max-width: 320px;
    }

    .galeri .container figure img {
        height: 300px;
    }

    .galeri div:nth-of-type(2) > div {
        grid-template-columns: 1fr;
    }

    .wishas div:nth-of-type(2), .wishas div:nth-of-type(3) {
        padding: 2rem 1rem;
    }

    .audio button {
        bottom: 7rem;
        right: 1.5rem;
    }

    footer > div {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .home figure figcaption {
        font-size: 2.8rem;
    }
    
    .bride .bride_couple span {
        font-size: 3rem;
    }

    header nav a i {
        font-size: 1.2rem;
    }

    header nav a span {
        font-size: 0.6rem;
        letter-spacing: 0.5px;
    }
}